<div id="<%= dom_id lesson %>">
  <p>
    <strong>Header:</strong>
    <%= lesson.header %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= lesson.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lesson.user_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= lesson.data %>
  </p>

</div>
